@charset 'UTF-8';

.info-window-1 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 20px 20px;

    &-close {
        position: absolute;
        color: var(--theme-color);
        font-size: var(--icon-fontSize);
        cursor: pointer;
    }

    &-title {
        text-align: center;
        line-height: 2;
        margin: 0 22px 20px;
        white-space: nowrap;
        -webkit-text-stroke: var(--stroke-width) var(--stroke-color);
    }

    &-content {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;
        flex: 1;

        .image {
            margin-right: 20px;
        }

        .field-list {
            .field {
                text-align: center;
                margin-bottom: 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    &-btn-groups {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            text-align: center;
            border-radius: 2px;
            margin-right: 26px;

            background: rgba(9, 229, 246, 0.6);
            border-radius: 2px;
            box-shadow: 0px 0px 11px 2px var(--theme-color) inset;

            cursor: pointer;
        }
        .button:last-child {
            margin: 0;
        }
    }

    .footer-line {
        position: absolute;
        bottom: calc(-10px - var(--footer-line-height));
    }

    .info-footer-line {
        flex: auto;
        width: 5px;
        height: var(--footer-line-height);
        margin: 0 auto;
        overflow: hidden;
        order: 3;
    }

    .info-footer-line::before {
        content: "";
        width: 2px;
        height: 100%;
        display: block;
        margin: 0 auto;
        background: linear-gradient(to top, transparent, 60%, var(--theme-color));
        transform: translateY(130px);
        animation: height-animation 0.5s linear forwards;
        -webkit-animation: height-animation 0.5s linear forwards;
    }

    .info-footer-point {
        width: 14px;
        height: 14px;
        flex: none;
        margin: 0 auto;
        border-radius: 100%;
        background: radial-gradient(#fff, var(--theme-color));
        box-shadow: 0 0 9px 5px var(--theme-color);
    }

    .pointWave {
        width: 0;
        height: 0;
        position: absolute;
        left: 49%;
        bottom: 2%;
        transform: rotateX(-60deg);
        z-index: 1;
        display: none;
    }

    .pointWave:before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        left: -20px;
        top: -5px;
        border-radius: 50%;
        border: 2px solid var(--theme-color);
        box-shadow: 0 0 12px var(--theme-color), 0 0 20px var(--theme-color) inset;
        animation: point-wave 2s ease-out infinite both;
        animation-delay: 0.4s;
    }

    .pointWave:after {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        left: -50px;
        top: -34px;
        border-radius: 50%;
        border: 2px solid var(--theme-color);
        box-shadow: 0 0 12px var(--theme-color), 0 0 20px var(--theme-color) inset;
        animation: point-wave 2s ease-out infinite both;
        animation-delay: 0;
    }

    @keyframes width-animation {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes height-animation {
        from {
            transform: translateY(130px);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes point-wave {
        0% {
            transform: scale(0);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}
